# Site Settings
name: Bruno Costa
title: Bruno Costa | Blog
description: For sysadmins, devs, users, all.
tags:
  - blog
  - github
  - sysadmin
  - infraestrutura
  - development
  - user
  - tecnologia
  - ti
show_hero: true
menu:
  - title: Home
    url: /
  - title: Sobre
    url: /about
  - title: Contato
    url: /contact
  - title: Feed
    url: /feed.xml
email: bhenriquecs@gmail.com
# See: https://disqus.com/
disqus_username: brunocosta
# Contact Form Setting
# See: https://formspree.io/
formspree_form_id: mvolpoyj


# Social Media Settings
# Remove the item if you don't need it
github_username: bhenriquecs
# facebook_username: facebook_username
# twitter_username: twitter_username
# instagram_username: instagram_username
linkedin_username: bruno-h-costa-santos
# medium_username: medium_username


# Posts Settings
show_time_bar: true
show_modal_on_exit: false
show_modal_on_finish_post: true
two_columns_layout: true


# Advanced Settings
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://brunocosta.dev" # the base hostname & protocol for your site
google_analytics: "G-RTBMBCSW3F"
language: "pt-BR"
categories_folder: category
sent_message_url: "/contact/message-sent/"


# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:title/
collections:
  authors:
    output: true
paginate_path: "/page/:num/"
show_get_theme_btn: true
use_logo: false

# Content paginator
paginate_content:
  enabled: true
  debug: false
  collections:
    - posts
  auto: false
  separator: "--page-break--"
  permalink: "/:num/"
  seo_canonical: true
  properties:
    part:
      is_generated: true
    last:
      is_generated: true
    single:
      is_generated: true

# SASS
sass:
  style: compressed

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-paginate-content

# Exclude my node related stuff
exclude: [
  'package.json',
  'package-lock.json',
  'src',
  'node_modules',
  'initpost.sh',
  'Gemfile',
  'Gemfile.lock',
  'gulpfile.js',
  'README.md'
]

# Theme
version: v2.0.0

# Translations
translations:
  text:
    new_post: "Novo Post"
    see_also: "Veja também"
    search: "Pesquisar"
    author: "Autor"
    share: "Compartilhar"
    comments: "Comentários"
  button:
    read_now: "Leia agora"
    share_on_twitter: "Compartilhar no Twitter"
    share_on_facebook: "Compartilhar no Facebook"
  pagination:
    page: "Página"
    of: "de"
    next_page: "Próxima página"
    next_post: "Página anterior"
  recommendation:
    text: "Por que você não lê algo a seguir?"
    back_btn: "Voltar ao topo"
  error_404:
    title: "Página não encontrada :("
    message: "Desculpe. Não foi possível encontrar a página que você está procurando."
    image_alt: "404 - Página não encontrada"
  contact:
    title: "Fale comigo"
    subject: "Novo contato!"
    submit_btn: "Enviar"
    placeholders:
      name: "Seu nome"
      email: "Seu e-mail"
      message: "Sua mensagem"
    errors:
      locale: "BR"
      empty_name: "Nome é obrigatório"
      empty_email: "E-mail é obrigatório"
      invalid_email: "E-mail inválido"
      empty_message: "Mensagem obrigatória"
    after_send:
      title: "Mensagem enviada!"
      message: "Agradeço pro enviar uma mensagem. Responderei o mais rápido possível."
