---
layout: page
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Bruno Costa</title>
</head>
  <body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card-box align-center">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="Resumo">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684708866/perfil_cj06ne.png" class="rounded-3"/>
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="Blog" href="https://brunocosta.dev/blog/">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772382/blog_twfggh.png" class="rounded-3">
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="LinkedIn" href="https://www.linkedin.com/in/bruno-h-costa-santos">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772304/linkedin_imv5oi.png" class="rounded-3"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-3"></div>
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="Contato" href="https://brunocosta.dev/contact/">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772336/email_jktrxg.png" class="rounded-3"/>
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="GitHub" href="https://github.com/bhenriquecs">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772466/github_vs3ime.png" class="rounded-3"/>
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="App: Segurança online" href="https://play.google.com/store/apps">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772422/googleplaystore_eohwvq.png" class="rounded-3"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-3"></div>
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="App: To-Do" href="https://play.google.com/store/apps">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772422/googleplaystore_eohwvq.png" class="rounded-3">
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                                <a
                                    tabindex="0" 
                                    data-bs-html="true" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top"
                                    data-bs-trigger="focus"
                                    title="App: TaskPro" href="#">
                                    <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772247/taskpro_nxgj7p.png" class="rounded-3"/>
                                </a>
                            </div>
                            <div class="col-md-3 rounded-3">
                              <a
                                  tabindex="0" 
                                  data-bs-html="true" 
                                  data-bs-toggle="popover" 
                                  data-bs-placement="top"
                                  data-bs-trigger="focus"
                                  title="Feed RSS" href="https://brunocosta.dev/feed.xml">
                                  <img src="https://res.cloudinary.com/k4bv734/image/upload/v1684772358/feedrss_bql8pg.png" class="rounded-3"/>
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="p-3"></div>                     
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
      })
  
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
      })
  </script>
  </body>
</html>
